{% load static %}

<!DOCTYPE html>
<head>
    <title>Cryostorm</title>
</head>
<body style='margin: 0 auto; text-align: center; color: #A8D5FF; background: black;'>
    <img src='{% static 'images/logo.png' %}' />
    <p>
        Take control of James' haggard face and defeat the flappysacks in Luke Shiner's platforming phenomenon <a style="color:white;" href='{{ MEDIA_URL }}flappysackattack.exe'>Flappy Sack Attack!</a>
    </p>
    <h4>Controls</h4>
    <p>Use WASD to move, space to jump.</p>
</body>
